
@font-face {font-family: "t-font";
  src: url('//at.alicdn.com/t/font_kkpa3ztm128uayvi.eot?t=1493791912245'); /* IE9*/
  src: url('//at.alicdn.com/t/font_kkpa3ztm128uayvi.eot?t=1493791912245#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_kkpa3ztm128uayvi.woff?t=1493791912245') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_kkpa3ztm128uayvi.ttf?t=1493791912245') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_kkpa3ztm128uayvi.svg?t=1493791912245#t-font') format('svg'); /* iOS 4.1- */
}

.t-font {
  font-family:"t-font" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t-font-minus:before { content: "\e757"; }

.t-font-moon:before { content: "\e70c"; }

.t-font-edit:before { content: "\e66e"; }

.t-font-user:before { content: "\e64a"; }

.t-font-sun:before { content: "\e659"; }

.t-font-times:before { content: "\e609"; }

.t-font-trash:before { content: "\e65b"; }

.t-font-check:before { content: "\eef9"; }

.t-font-image:before { content: "\e64c"; }

.t-font-warning:before { content: "\e672"; }

