<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/xiaoshuangLi/files/raw/feature/ar/ar/AR-Billiard/builds/Billiard%202021-12-28%2021-42-11/AR%20Billiard.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/xiaoshuangLi/files/feature/ar/ar/AR-Billiard/imgs/1024x1024.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/xiaoshuangLi/files/feature/ar/ar/AR-Billiard/imgs/1024x1024.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>AR.Billiard</string>
				<key>bundle-version</key>
				<string>1.01</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>AR Billiard</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>bundle-identifier</key>
					<string>AR.Billiard</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/xiaoshuangLi/files/raw/feature/ar/ar/AR-Billiard/builds/Billiard%202021-12-28%2021-42-11/AR%20Billiard-756837CD-86CE-4B6F-A26D-BF1A3F239846.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,8</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>15.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPod9,1</string>
						<string>iPhone10,1</string>
						<string>iPhone8,1</string>
						<string>iPhone12,8</string>
						<string>iPhone9,1</string>
						<string>iPhone9,3</string>
						<string>iPhone8,4</string>
						<string>iPhone10,4</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
