<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AR Billiard.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0C96F8B68FD9B6706FA745D143C6F71D58FE26D6</string>
				<key>dateExpires</key>
				<string>2022/9/7</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6D6DFUDGMF.AR.Billiard</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6D6DFUDGMF</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6D6DFUDGMF.AR.Billiard</string>
				</array>
			</dict>
			<key>name</key>
			<string>AR Billiard.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>79469aa5-5564-4852-86a4-01d4e525ab42</string>
				<key>dateExpires</key>
				<string>2022/12/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6D6DFUDGMF</string>
				<key>name</key>
				<string>xiaoshuang li</string>
			</dict>
			<key>versionNumber</key>
			<string>1.01</string>
		</dict>
	</array>
</dict>
</plist>
